{% set large_header_margin = false %}
{% block landingpage %}
    {% if cmsPage %}
        <div class="cms-page">
            <div class="landingpage">
                {% for element in cmsPage.sections.elements %}
                    {% for block_element in element.blocks.elements %}
                        {% set name = block_element.name %}
                        {% if name == "landingpage_top_bg_img" %}
                            {% set url = "" %}
                            {% for img in block_element.slots.elements|first.data.media.thumbnails.elements %}
                                {% if img.width == 1920 %}
                                    {% set url = img.url %}
                                {% endif %}
                            {% endfor %}
                            <div style="background-image: url({{ url }})"
                                 class="landingpage-top">

                                {% for text_element in cmsPage.sections.elements %}
                                    {% for block_text_element in text_element.blocks.elements %}
                                        {% set text_name = block_text_element.name %}
                                        {% if text_name == "landingpage_top_header" %}
                                            {% for text in block_text_element.slots.elements %}
                                                <div class="landingpage-top-text container">
                                                    {{ text.data.content | raw }}
                                                    <a href="#products" class="display-5">
                                                        <button class="landingpage-top-text-button display-5">
                                                            Entdecken
                                                        </button>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <div class="landingpage-products container">
                    <div class="landingpage-products-flex">
                        <hr>
                        <h2 id="products" class="landingpage-products-header">
                            {% for section in cmsPage.sections.elements %}
                                {% if section.name == "landingpage_products" %}
                                    {% for block in section.blocks.elements %}
                                        {% if block.type == "text" %}
                                            {{ block.slots.elements|first.data.content }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </h2>
                        <hr>
                    </div>
                    <div class="landingpage-products-helper">
                        {% for section in cmsPage.sections.elements %}
                            {% if section.name == "landingpage_products" %}
                                {% for block in section.blocks.elements %}
                                    {% if block.type == "product-slider" %}
                                        {% if block.slots.elements|first.data.products.elements|length > 0 %}
                                            {% for product_element in block.slots.elements|first.data.products.elements %}
                                                {% set product = product_element.data.product %}
                                                {% do product %}
                                                {% sw_include '@Storefront/storefront/component/product/card/box-standard.html.twig' with {
                                                    'product': product_element,
                                                } %}
                                            {% endfor %}
                                        {% else %}
                                            <p>Keine weiteren Produkte vorhanden</p>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {# {{ dump() }} #}
                <div class="landingpage-categories container ">
                    {% for section_elem in cmsPage.sections.elements %}
                        {% if section_elem.name == "landingpage_categories" %}
                            {% for category in section_elem.blocks.elements|first.slots.elements %}
                                {% if category.type == "image" %}
                                    <div class="landingpage-categories-helper">
                                        {% for category2 in section_elem.blocks.elements|first.slots.elements %}
                                            {% if category2.type == "text" %}
                                                {% if category2.slot|split("-")[0] == category.slot|split("-")[0] %}
                                                    {% set text = category2.data.content %}
                                                    {% sw_thumbnails 'category-th' with {
                                                        media: category.data.media,
                                                        attributes: {
                                                            class: 'landingpage-categories-category img-hover-brightness',
                                                            alt: 'Hintergrundbild der Kategorie ' ~ text
                                                        },
                                                        sizes: {
                                                            'default': '300px'
                                                        }
                                                    } %}
                                                    {{ text|raw }}

                                                    {# <a href="{{ path('frontend.navigation.page', { 'navigationId' : '83554a0d395f494ab9b7f2a62f5c3258'}) }}">adfadsfasdf</a> #}

                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="landingpage-recommendation-header container">
                    {% set winzer = "" %}
                    {% for section in cmsPage.sections.elements %}
                    {% if section.name == "landingpage_winzer" %}
                    {% for winzer_elem in section.blocks.elements %}
                    {% if winzer_elem.name == 'landingpage_winzer_name' %}
                    {% for winzer_elem_product in section.blocks.elements %}
                        {% if winzer_elem_product.name == 'landingpage_winzer_products' %}
                            {% set winzer =
                                {
                                    name: winzer_elem_product.slots.elements|first.data.products.elements|first.manufacturer.name|lower|replace({ ' ': '-'}),
                                    slug: winzer_elem_product.slots.elements|first.data.products.elements|first.manufacturer.customFields.vs_winzer_slug
                                } %}
                        {% endif %}
                    {% endfor %}
                    <hr>
                    <h2 class="landingpage-recommendation-header-size">
                        <a href="{{ path('frontend.winzer.winzer', { 'slug' : winzer.slug }) }}">{{ winzer_elem.slots.elements|first.data.content }}</a>
                    </h2>
                    <hr>
                </div>
                <div class="landingpage-recommendation container">
                    {% elseif winzer_elem.name == 'landingpage_winzer_pic' %}
                    <div class="landingpage-recommendation-gray">
                        {% sw_thumbnails 'recommended-winzer-th' with {
                            media: winzer_elem.slots.elements|first.data.media,
                            attributes: {
                                class: 'landingpage-recommendation-winzer',
                                alt: 'Bild des vorgestellten Winzers'
                            },
                            sizes: {
                                'default': '800px'
                            }
                        } %}
                        <div class="landingpage-recommendation-products">
                            {% elseif winzer_elem.name == 'landingpage_winzer_products' %}
                                {% for winzer_product in winzer_elem.slots.elements|first.data.products.elements %}
                                    {% if loop.first %}
                                        {% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
                                            'product': winzer_product
                                        } %}
                                        <div class="landingpage-recommendation-products-line"></div>
                                    {% else %}
                                        {% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
                                            'product': winzer_product
                                        } %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

