{% set large_header_margin = false %}
{% block landingpage %}
    {% if cmsPage %}
        <div class="cms-page">
            <div class="landingpage container">
                {% for element in cmsPage.sections.elements %}
                    {% for block_element in element.blocks.elements %}
                        {% set name = block_element.name %}
                        {# {{ dump(block_element.backgroundMedia.url) }} #}

                        {% if name == "landingpage_top_bg_img" %}
                            <div style="background-image: url({{ block_element.backgroundMedia.url }})"
                                 class="landingpage-top">

                                {% for text_element in cmsPage.sections.elements %}
                                    {% for block_text_element in text_element.blocks.elements %}
                                        {% set text_name = block_text_element.name %}
                                        {% if text_name == "landingpage_top_header" %}
                                            {% for text in block_text_element.slots.elements %}
                                                <div class="landingpage-top-text container">
                                                    {{ text.data.content | raw }}
                                                    <a href="#products" class="display-5">
                                                        <button class="landingpage-top-text-button display-5">
                                                            Entdecken
                                                        </button>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {# dump() #}
                <div class="landingpage-products container">
                    <div class="landingpage-products-flex">
                        <hr>
                        <h2 id="products" class="landingpage-products-header">Unsere Produkte</h2>
                        <hr>
                    </div>
                    {# #}
                    {{ dump() }} 
                    <div class="landingpage-products-helper">
                        {% for section in cmsPage.sections.elements %}
                            {% if section.name == "landingpage_products" %}
                                {#{{ dump(section.blocks.elements|first.slots.elements) }}#}
                                    
                                {% if section.blocks.elements|first.slots.elements|length > 0 %}
                                    {% for product_element in section.blocks.elements|first.slots.elements %}
                                        {#
                                        #}
                                        {% set product = product_element.data.product %}
                                        {% do product %}
                                        {% sw_include '@Storefront/storefront/component/product/card/box-standard.html.twig' with {
                                            'product': product_element.data.product,
                                        } %}
                                    {% endfor %}
                                {% else %}
                                    <p>Keine weiteren Produkte vorhanden</p>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="landingpage-categories container">
                    <!-- categories: Rotwein & Weißwein -->
                    {# {{ dump(page.cmsPage.sections.elements) }} #}
                    {% for section_elem in cmsPage.sections.elements %}
                        {% if section_elem.name == "landingpage_categories" %}
                            {% for category in section_elem.blocks.elements|first.slots.elements %}
                                {% if category.type == "image" %}
                                    <div style="background-image: url({{ category.data.media.url }});"
                                         class="landingpage-categories-category">
                                        {% for category2 in section_elem.blocks.elements|first.slots.elements %}
                                            {% if category2.type == "text" %}
                                                {% if category2.slot|split("-")[0] == category.slot|split("-")[0] %}
                                                    {{ category2.data.content|raw }}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                {# <div class="landingpage-newsletter container">
                    <div class="landingpage-newsletter-input-div">
                        <p id="landingpage-newsletter-subheader">Hol Dir unsere neuesten Weine zuerst</p>
                        <div class="landingpage-newsletter-input">
                            <label>
                                <input id="landingpage-newsletter-input-field" type="text" alt="email"
                                       value=""
                                       placeholder="newsletter@vinoshop.at">
                            </label>
                            <button type="submit" id="landingpage-newsletter-input-button">Absenden</button>
                        </div>
                        <p id="landingpage-newsletter-header">... Virtueller Wein im Postfach</p>
                    </div>
                </div> #}
                <div class="landingpage-recommendation-header container">
                    {% for section in cmsPage.sections.elements %}
                    {% if section.name == "landingpage_winzer" %}
                    {% for winzer_elem in section.blocks.elements %}
                    {% if winzer_elem.name == 'landingpage_winzer_name' %}
                    <hr>
                    <h2 class="landingpage-recommendation-header-size">{{ winzer_elem.slots.elements|first.data.content|raw }}</h2>
                    <hr>
                </div>
                <div class="landingpage-recommendation container">
                    {% elseif winzer_elem.name == 'landingpage_winzer_pic' %}
                    <div class="container landingpage-recommendation-graybg">
                        <div style="background-image: url('{{ winzer_elem.slots.elements|first.data.media.url }}');"
                             class="landingpage-recommendation-winzer"></div>
                        <div class="landingpage-recommendation-products container">
                            {% elseif winzer_elem.name == 'landingpage_winzer_products' %}
                                {% for winzer_product in winzer_elem.slots.elements|first.data.products.elements %}

                                    {% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
                                        'product': winzer_product
                                    } %}
                                    {# {{ dump(winzer_product) }} #}
                                {% endfor %}
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}


