{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_head %}
    {% sw_include '@Storefront/storefront/page/account/register/meta.html.twig' %}
{% endblock %}

{% block base_content %}
    {% block page_account_register %}
        <div class="account-register">
            {% block page_account_register_inner %}
                <div class="row d-flex justify-content-center">
                    {% block component_account_login %}
                        <div class="card login-card login-width">
                            <div class="card-body">
                                <div class="card-title">
                                    Login
                                </div>

                                {% block component_account_login_form %}
                                    <form class="login-form"
                                          action="{{ path('frontend.account.login') }}"
                                          method="post"
                                          data-form-csrf-handler="true"
                                          data-form-validation="true">

                                        {% block component_account_login_form_csrf %}
                                            {{ sw_csrf('frontend.account.login') }}
                                        {% endblock %}

                                        {% block component_account_login_form_redirect %}
                                            <input type="hidden"
                                                   name="redirectTo"
                                                   value="{{ redirectTo }}">

                                            <input type="hidden"
                                                   name="redirectParameters"
                                                   value="{{ redirectParameters }}">
                                        {% endblock %}

                                        {% block component_account_login_form_error %}
                                            {% if loginError %}
                                                {% if errorSnippet != null %}
                                                    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                                        type: "danger",
                                                        content: errorSnippet|trans|sw_sanitize
                                                    } %}
                                                {% elseif waitTime != null %}
                                                    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                                        type: "info",
                                                        content: "account.loginThrottled"|trans({"%seconds%": waitTime})|sw_sanitize
                                                    } %}
                                                {% else %}
                                                    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                                        type: "danger",
                                                        content: "account.loginBadCredentials"|trans|sw_sanitize
                                                    } %}
                                                {% endif %}
                                            {% endif %}
                                        {% endblock %}

                                        {% block component_account_login_form_fields %}
                                            <div class="">
                                                <div class="form-group">
                                                    <label class="form-label"
                                                           for="loginMail">
                                                        {{ "account.loginMailLabel"|trans|sw_sanitize }}
                                                    </label>
                                                    <input type="email"
                                                           class="form-control{% if loginError %} is-invalid{% endif %}"
                                                           id="loginMail"
                                                           placeholder="Email-Adresse"
                                                           name="username"
                                                           required="required">
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-label"
                                                           for="loginPassword">
                                                        {{ "account.loginPasswordLabel"|trans|sw_sanitize }}
                                                    </label>
                                                    <input type="password"
                                                           class="form-control{% if loginError %} is-invalid{% endif %}"
                                                           id="loginPassword"
                                                           placeholder="Passwort"
                                                           name="password"
                                                           required="required">
                                                </div>
                                            </div>
                                        {% endblock %}

                                        <div class="login-password-recover">
                                            {% block component_account_login_password_recover_link %}
                                                <a href="{{ seoUrl('frontend.account.recover.page') }}">
                                                    Ich habe mein Passwort vergessen
                                                </a>
                                            {% endblock %}
                                        </div>

                                        <div class="login-submit">
                                            <button type="submit"
                                                    class="btn btn-primary">
                                                {{ "account.loginSubmit"|trans|sw_sanitize }}
                                            </button>
                                        </div>
                                    </form>
                                {% endblock %}

                                <hr>
                                <form action="{{ path('frontend.account.register.page') }}"
                                      method="get">

                                    <input type="hidden"
                                           name="redirectTo"
                                           value="{{ redirectTo }}">

                                    <input type="hidden"
                                           name="redirectParameters"
                                           value="{{ redirectParameters }}">

                                    <button class="btn btn-secondary" type="submit">
                                        Neuen Account erstellen
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}