{% sw_extends '@Storefront/storefront/base.html.twig' %}
{% set large_header_margin = false %}
{% block base_main %}
    <div class="landing-page-image container">
        <!-- landing page -->
        <div class="landing-page-image-content">
            <h1 class="display-3 landing-page-image-content-h1">Die Exklusivsten <br> Weine</h1>
            <a type="button" class="btn landing-page-image-content-btn-color display-5">Shop now</a>
        </div>
    </div>
    <div class="landing-page-products-padding">
        <div class="landing-page-produts-width">
            <h2 class="landing-page-products-header"><span>Unsere Produkte</span></h2>
            <div class="landing-page-products">
                <div class="landing-page-products-product">
                    <img src="{{ asset('bundles/vinoshoptheme/gv-alte-reben.png', 'asset') }}">
                    <p class="landing-page-products-product-winzer">Winzer Schmidt</p>
                    <h5 class="landing-page-products-product-header">Flat Lake</h5>
                    <div class="landing-page-products-product-line"></div>
                    <h4 class="landing-page-products-product-price">20,99€</h4>
                    <a href="" class="landing-page-products-product-btn">In den Warenkorb</a>
                </div>
                <div class="landing-page-products-product">
                    <img src="{{ asset('bundles/vinoshoptheme/gv-alte-reben.png', 'asset') }}">
                    <p class="landing-page-products-product-winzer">Winzer Schmidt</p>
                    <h5 class="landing-page-products-product-header">Grüner Veltliner</h5>
                    <div class="landing-page-products-product-line"></div>
                    <h4 class="landing-page-products-product-price">20,99€</h4>
                    <a href="" class="landing-page-products-product-btn ">In den Warenkorb</a>
                </div>
                <div class="landing-page-products-product">
                    <img src="{{ asset('bundles/vinoshoptheme/gv-alte-reben.png', 'asset') }}">
                    <p class="landing-page-products-product-winzer">Winzer Schmidt</p>
                    <h5 class="landing-page-products-product-header">Flat Lake</h5>
                    <div class="landing-page-products-product-line"></div>
                    <h4 class="landing-page-products-product-price">20,99€</h4>
                    <a class="landing-page-products-product-btn ">In den Warenkorb</a>
                </div>
                <div class="landing-page-products-product">
                    <img src="{{ asset('bundles/vinoshoptheme/gv-alte-reben.png', 'asset') }}">
                    <p class="landing-page-products-product-winzer">Winzer Schmidt</p>
                    <h5 class="landing-page-products-product-header">Grüner Veltliner</h5>
                    <div class="landing-page-products-product-line"></div>
                    <h4 class="landing-page-products-product-price">20,99€</h4>
                    <a href="" class="landing-page-products-product-btn ">In den Warenkorb</a>
                </div>
            </div>
        </div>
    </div>

    <div class="category container">
        <!-- categories: Rotwein & Weißwein -->
        <div class="row">
            <div class="col container" id="cat_rotwein"><h1>Rotwein</h1></div>
            <div class="col container" id="cat_weisswein"><h1>Weißwein</h1></div>
        </div>
    </div>

    <div class="newsletter container ">
        <div id="newsletter-div">
            <h3 id="newsletter-subheader">Hol dir unsere neuesten Weine zuerst</h3>
            <div class="newsletter-input-size">
                <label>
                    <input id="newsletter-input" type="text" alt="email" value="" placeholder="Email Adresse eingeben">
                </label>
                <a class="newsletter-button">Absenden</a>
            </div>
            <h1 id="newsletter-header">... Virtueller Wein im Postfach</h1>
        </div>
    </div>
    <div class="container recommendation">
        <!-- winzer -->
        <div class="row">
            <div id="winzer" class=" col"></div>
            <div id="winzer_produkte" class="col">
                <h2>Max Auswahl</h2>
                <hr>
                <div class="row">
                    <div class="col">flasche</div>
                    <div class="col">flasche</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>#vinoshop on Instagram</h1>
        <div>{{ dump() }}</div>
    </div>
{% endblock %}
