{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block base_head %}
    {% sw_include '@Storefront/storefront/page/product-detail/meta.html.twig' %}
{% endblock %}

{% block base_content %}
    {% block page_product_detail %}
        <div class="product-detail"
             itemscope
             itemtype="https://schema.org/Product">

            <template data-product-page-plugin></template>

            <div class="small-container row">
                <div class="col-lg-6 col-12 product-detail-images flex-column flex-lg-row align-items-center align-items-lg-start">
                    <div class="product-detail-images-small d-none d-lg-flex flex-column">
                        {% for media in page.product.media.elements %}
                            <img class="{% if media == page.product.media.elements|first %}active{% endif %}"
                                 src="{{ media.media.url }}">
                        {% endfor %}
                    </div>
                    <img class="product-detail-image-big w-auto" src="{{ (page.product.media.elements|first).media.url }}">
                    <div class="product-detail-images-small d-flex flex-row d-lg-none mb-3">
                        {% for media in page.product.media.elements %}
                            <img class="{% if media == page.product.media.elements|first %}active{% endif %}"
                                 src="{{ media.media.url }}">
                        {% endfor %}
                    </div>
                </div>

                <div class="col-lg-6 product-detail-infos mx-auto">
                    <h3 class="product-detail-manufacturer">{{ page.product.manufacturer.translated.name }}</h3>
                    <h2 class="product-detail-name">{{ page.product.translated.name }}</h2>
                    <div class="product-detail-price">
                        <p class="product-detail-price-euros">{{ page.product.calculatedPrice.unitPrice|split('.')[0] }}</p>
                        <p class="product-detail-price-cents">{{ page.product.calculatedPrice.unitPrice|split('.')[1] }}</p>
                    </div>

                    <div class="product-detail-good-with">
                        <p>Passend zu:</p>
                        <ul class="product-detail-good-with-list">
                            {% for good_with in page.product.translated.customFields.vs_product_good_with %}
                                <li>{{ ('customFields.vs_product_good_with.' ~ good_with)|trans }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% sw_include '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}
                </div>
            </div>

            <div class="small-container product-detail-tabs">
                <div class="product-detail-tabs-headers">
                    <a class="product-detail-tabs-description active" data-content-id="tabs-description">Beschreibung</a>
                    <a class="product-detail-tabs-taste" data-content-id="tabs-taste">Geschmack</a>
                </div>
                <div class="product-detail-tabs-content">
                    <div id="tabs-description" class="product-detail-tabs-content-description active">
                        <div>{{ page.product.translated.description|raw|sw_sanitize }}</div>
                    </div>
                    <div id="tabs-taste" class="product-detail-tabs-content-description">
                        <div>
                            {{ page.product.translated.customFields.vs_product_taste|raw|default('Kein Geschmack eingetragen')
                            |sw_sanitize }}
                        </div>
                    </div>
                </div>
            </div>

            {% sw_include '@Storefront/storefront/page/product-detail/more-products.html.twig' with {
                'title': 'Weine vom selben Winzer',
                'subtitle': 'Entdecke benachbarte Gärprozesse',
                'product_elements': page.extensions.products_from_same_manufacturer.elements
            } %}

            {% sw_include '@Storefront/storefront/page/product-detail/more-products.html.twig' with {
                'title': 'Weine aus der selben Kategorie',
                'subtitle': 'Entdecke geschmackliche Ähnlichkeiten',
                'product_elements': page.extensions.products_from_same_category.elements
            } %}
        </div>
    {% endblock %}
{% endblock %}
