<div class="nav-container d-flex flex-column">
    <button class="d-block btn ml-auto btn-close-mobile-nav-overview"
            type="button"
            aria-label="{{ "general.menuLink"|trans|striptags }}">
        {% block asdasd %}
            {% sw_icon 'x' %}
        {% endblock %}
    </button>

    {% for treeItem in page.header.navigation.tree %}
        {% set category = treeItem.category %}
        {% set name = category.translated.name %}
        {% set categorId = category.id %}
        <a class="mobile-nav-link{% if category.id == page.header.navigation.active.id or category.id in activePath %} active{% endif %}"
           href="{{ category_url(category) }}"
           itemprop="url"
           title="{{ name }}">
            <div class="nav-link-text">
                <span itemprop="name">{{ name }}</span>
            </div>
        </a>
    {% endfor %}

    {% block layout_header_mobile_search_form %}
        {% sw_include '@Storefront/storefront/layout/header/mobile-search-form.html.twig' %}
    {% endblock %}

    <div class="action-icons d-flex flex-column justify-content-end mt-auto pb-5 mb-5">
        <div class="d-flex justify-content-around mt-auto">
            <div class="search-menu action">
                {% sw_icon 'search' style {
                    namespace: 'VinoshopTheme',
                    pack: 'fontawesome'
                } %}
            </div>
            <div class="cart-menu action"
                 data-offcanvas-cart="true">
                {% sw_icon 'shopping-bag' style {
                    namespace: 'VinoshopTheme',
                    pack: 'fontawesome'
                } %}
            </div>
            <div class="account-menu action">
                <a href="{{ path("frontend.account.home.page") }}">
                    {% sw_icon 'user' style {
                        namespace: 'VinoshopTheme',
                        pack: 'fontawesome'
                    } %}
                </a>
            </div>
        </div>
    </div>
</div>