{% sw_extends '@Storefront/storefront/base.html.twig' %}
{% set large_header_margin = false %}
{% block base_main %}
    <div class="winzerpage container">
        <div class="winzerpage-img container">
            <div class="winzerpage-name container">
                {# Daten #}
                <h1>{{ manufacturer.name }}</h1>
                <p>{{ manufacturer.customFields['vs_winzer_bundesland'] }}</p>
            </div>
        </div>
        <div class="winzerpage-story container">
            {# beschreibung #}
            {# {{ dump(manufacturer.products.elements|first) }} #}
            <h4 class="winzerpage-story-header">{{ manufacturer.customFields['vs_winzer_story_header']|raw }}</h4>
            <div class="winzerpage-story-helper">
                <p class="winzerpage-story-content">
                    {{ manufacturer.customFields['vs_winzer_story_p1']|raw }}
                </p>
            </div>

            {# Quote #}
            <div class="winzerpage-story-quote container">
                <div id="winzerpage-story-quote-img"></div>
                <div id="winzerpage-story-quote-centerer">
                    <div id="winzerpage-story-quote-centerer-2">
                        <p class="winzerpage-story-quote-header">"{{ manufacturer.customFields['vs_winzer_quote']|raw }}"</p>
                        <p class="winzerpage-story-quote-name">-{{ manufacturer.customFields['vs_winzer_quote_name']|raw }}</p>
                    </div>
                </div>
                <div id="winzerpage-story-quote-img-2"></div>
            </div>
            <div class="winzerpage-story-helper">
                <p class="winzerpage-story-content">
                    {{ manufacturer.customFields['vs_winzer_story_p2']|raw }}
                </p>
            </div>
        </div>
        <div class="winzerpage-media container">
            {# Galerie #}
            <div class="winzerpage-media-helper">
                <p class="winzerpage-media-header">ZU BESUCH BEI MAX MUSTERMANN</p>
                <div class="winzerpage-media-images">
                    <img src="{{ asset('bundles/vinoshoptheme/winzerpage/media/Bild 15.png', 'asset') }}" alt="">
                    <img src="{{ asset('bundles/vinoshoptheme/winzerpage/media/Bild 16.png', 'asset') }}" alt="">
                    <img src="{{ asset('bundles/vinoshoptheme/winzerpage/media/Bild 17.png', 'asset') }}" alt="">
                </div>
                {# Video #}
                <div class="winzerpage-media-video">
                    <iframe class="winzerpage-media-video-size" src="{{ manufacturer.customFields['vs_winzer_video'] }}"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="winzerpage-products container">
            {# restliche Produkte #}
            <p class="winzerpage-products-header">PRÄMIERTE WEINE VON MAX MUSTERMANN</p>
            <div class="winzerpage-products-flexbox">
                {# produkte #}
                {% for product in manufacturer.products.elements %}
                    {% sw_include '@Storefront/storefront/component/product/card/box-standard.html.twig' with {
                                            'product': product,
                    } %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}