{% block component_product_box %}
    {% if product %}
        {% set name = product.translated.name %}
        {% set id = product.id %}
        {% set cover = product.cover.media %}
        {% set variation = product.variation %}

        <div class="card product-box">
            {% block component_product_box_content %}
            <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}" title="Link zur Produktseite von {{ name }}">
                <div class="card-body">

                    {% block component_product_box_image %}
                        <div class="product-image-wrapper">
                            {% if (product.translated.customFields.vs_product_is_bio == true) %}
                                <img class="product-tag" src="{{ asset('bundles/vinoshoptheme/images/bio_icon.svg', 'asset') }}" alt="Produkt ist Bio"/>
                            {% endif %}
                                {% sw_thumbnails 'product-image-th' with {
                                    media: cover,
                                    attributes: {
                                        class: 'product-image',
                                        alt: 'Bild einer Flasche ' ~ name
                                    },
                                    sizes: {
                                        'default': '300px'
                                    }
                                } %}
                        </div>
                    {% endblock %}
                    {% set splitPrice = product.calculatedPrice.unitPrice|split(".") %}
                    {% set winzerSlug = product.manufacturer.customFields.vs_winzer_slug %}
                    <div class="card-info-text">
                        <p class="manufacturer">
                            <a class="manufacturer" href="{% if winzerSlug %}{{ path('frontend.winzer.winzer', { 'slug' : winzerSlug }) }}{% endif %}">{{ product.manufacturer.name }}</a>
                        </p>
                        {% if product.calculatedPrice.unitPrice %}
                            <p class="price">{{ product.calculatedPrice.unitPrice }}</p>
                        {% else %}
                            <p class="price">{{ product.price.elements|first.gross }}</p>
                        {% endif %}

                        <p class="name"><a class="name" href="/{{ product.translated.name|replace({ ' ': '-' }) }}/{{ product.productNumber }}">{{ product.translated.name }}</a></p>
                    </div>
                </div>
            </a>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}