{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}


{% block layout_footer_inner_container %}
    <div class="footer">
        <div class="footer-inner">
            <div class="categories">
                <h3>Kategorien</h3>
                <div class="categories-list">
                    {% for treeItem in page.header.navigation.tree %}
                        {% set category = treeItem.category %}
                        {% set name = category.translated.name %}

                        {# @deprecated tag:v6.5.0 - Use "category.id" directly instead. #}
                        {% set categorId = category.id %}
                        <a href="{{ category_url(category) }}"
                           title="{{ name }}">
                            {{ name }}
                        </a>
                    {% endfor %}
                    <a href="#">Winzer</a> {# TODO winzerliste #}
                </div>
            </div>
            <div class="justice">
                <h3>Rechtliches</h3>
                <div class="justice-list">
                    <a href="{{ path("frontend.legal.agb") }}">AGBs</a>
                    <a href="{{ path("frontend.legal.datenschutz") }}">Datenschutzerklärung</a>
                    <a href="{{ path("frontend.legal.impressum") }}">Impressum</a>
                </div>
            </div>
            <div class="infos">
                <h3>Kontakt</h3>
                <div class="infos-list">
                    <a>1030 Wien<br>Media Quarter Marx 3.3</a>
                    <a href="mailto:contact@vinoshop.at">contact@vinoshop.at</a>
                </div>
            </div>
            <div class="more">
                <img class="logo-textmarke" src="/bundles/vinoshoptheme/images/20211214_PVS_Logo_Wortmarke.svg"/>
                <div class="quick-links">
                    <a href="https://www.instagram.com/vinoshop.at/" target="_blank">{% sw_icon 'instagram-brands' style {
                            namespace: 'VinoshopTheme',
                            pack: 'fontawesome'
                        } %}</a>
                    <a href="https://www.facebook.com/Vinoshop-103045648855728" target="_blank">{% sw_icon 'facebook-square-brands' style {
                            namespace: 'VinoshopTheme',
                            pack: 'fontawesome'
                        } %}</a>
                    <a href="https://www.youtube.com/channel/UC3E9S3Fu_9npjF5fe99sMoQ/" target="_blank">{% sw_icon 'youtube-brands' style {
                            namespace: 'VinoshopTheme',
                            pack: 'fontawesome'
                        } %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
